<div class="jumbotron-short">
	<h1 class="display-3">{{title}}</h1>
	<p class="lead">Coming soon</p>
</div>

<div></div>

<script type="text/javascript">
    function startOver() {}

	$(function() {
		$(document).keypress(function(event) {
			if (event.which == 115) {
				startOver();
		 	}
		});			
	});
</script>