<div class="jumbotron-short">
	<h1 class="display-3">{{title}}</h1>
	<p class="lead">Drag the faces and match them to the correct body. Good luck.</p>
</div>

<div>
	<div id="compare-container-1" style="position: absolute; left: 0px;"></div>
	<div id="face-container" style="float:right;width:40%;"></div>
</div>

<script type="text/javascript">
	
	function fillContainer(container, id) {
		$.get("/data/object/" + id + "/experimental", function (data) {
			var image = data.images[0];
			var c = makeImageContainer(image, id);
			$(container).append(c);
			$(".background").show();
       		$(".regions").show();
       		$(".mask").show();

			interact('.draggable').draggable({onmove: dragMoveListener});

			arrangeFaces();	
       	});
    }

    function arrangeFaces() {
    	var faces = $(".face");
    	var maxX = 1600;
    	var minX = 1150;
    	var maxY = 700;
    	var minY = 0;

		for (var i = faces.length - 1; i >= 0; i--) {
			var xPos = Math.floor(Math.random()*(maxX-minX+1)+minX);
			var yPos = Math.floor(Math.random()*(maxY-minY+1)+minY);

			$(faces[i]).transition({
							x: xPos,
							y: yPos,
							delay: 1000
						})
						.attr("data-x", xPos)
						.attr("data-y", yPos);
    	};
    }

    function startOver() {
    	arrangeFaces();
    }

	$(function() {
		fillContainer($("#compare-container-1"), 140112);

		$(document).keypress(function(event) {
			if (event.which == 114) {
				startOver();
		 	}
		});			
	});
</script>