<div class="jumbotron">
	<h1 class="display-3">{{title}}</h1>
	<p class="lead">by Harvard Art Museums</p>
</div>

<div class="container">
	<div class="row mb-4">
		<div class="col-md-3">
			<h2>Magnetic Poetry</h2>
			<p>Drag around image fragments to compose messages</p>
			<p><a class="btn btn-outline-primary" href="/magnetic-poetry">View it</a></p>
		</div>

		<div class="col-md-3">
			<h2>Magic Message</h2>
			<p>Type in a message and watch it generate magically using image fragments</p>
			<p><a class="btn btn-outline-primary" href="/magic-message">View it</a></p>
		</div>

		<div class="col-md-3">
			<h2>Face Scramble</h2>
			<p>Watch the faces automatically change places</p>
			<p><a class="btn btn-outline-primary" href="/face/scramble">View it</a></p>
		</div>

		<div class="col-md-3">
			<h2>Face Match</h2>
			<p>Test your skill at matching faces to bodies</p>
			<p><a class="btn btn-outline-primary" href="/face/match">View it</a></p>
		</div>
	</div>

	<div class="row mb-4">
		<div class="col-md-3">
			<h2>Exquisite Corpse</h2>
			<p>More demos based on generating random slices of images of art objects</p>
			<p><a class="btn btn-outline-primary" href="http://exquisite-iiif-demo.herokuapp.com/">View it</a></p>
		</div>
		<div class="col-md-3">
			<h2>Manifest It</h2>
			<p>View sample manifests of galleries and objects in Mirador</p>
			<p><a class="btn btn-outline-primary" href="http://manifest-iiif-demo.herokuapp.com/">View it</a></p>
		</div>
	</div>

	<hr>

	<footer>
		<p>Built with the <a href="http://harvardartmuseums.org/collections/api">Harvard Art Museums API</a> and the Harvard Libraries IIIF image service. Source code is available on <a href="http://github.com/harvardartmuseums/iiif-explorer">Github</a>. Learn more about IIIF at Harvard at <a href="http://iiif.harvard.edu/">http://iiif.harvard.edu/</a>.</p>
	</footer>
</div>