<div class="jumbotron-short">
	<h1 class="display-3">{{title}}</h1>
	<p class="lead">Type a message in the box and watch the magic happen. Double click a word to see it in context.</p>
</div>

<div class="container">
	<div class="input-group magic-input-xlg">
		<input type="text" id="term" class="form-control" placeholder="">
		<span class="input-group-btn">
    		<button id="reset" class="btn btn-secondary" type="button">Start Over</button>
      	</span>
	</div>
	<div id="message-panel"></div>
</div>


<script type="text/javascript">
	var messages = [];

	function clearMessages() {
		$(".full-image").remove();

		messages = [];
		$("#message-panel").empty();
		$("#term").val("").focus();
	}

	function processPhrase() {
		var message = $("#term").val();
		var terms = message.trim().split(" ");
		messages.push(message);

		var m = $("<div/>")
					.attr("id", "message")
					.attr("data-message-number", messages.length);
		$("#message-panel").append(m);

		for (var i = 0; i < terms.length; i++) {
			if (term[i] != "") {
				var img = $("<img/>")
							.attr("class", "draggable message-word")
							.attr("alt", terms[i])
							.attr("id", "position-" + i)
							.dblclick(showFullImage);
				$(m).append(img);

				fetchTermImages(terms[i], img);
			}
		}	 			
	}

	function fetchTermImages(term, messageContainer) {
		$.get("/data/terms/" + term, function (data) {
			var randomImage =  data[Math.floor(Math.random()*data.length)];
			
			fragmentCoords = randomImage.selectors[0].value.replace("xywh=","");
			iiifImageFragment = randomImage.target.replace("full/full", fragmentCoords + "/full");

			vertices = fragmentCoords.split(",");
			randomImage.vertices = {};
			randomImage.vertices.x = vertices[0];
			randomImage.vertices.y = vertices[1];

			$(messageContainer)
				.data("info", randomImage)
				.attr("src", iiifImageFragment);
		});
	}

	function showFullImage() {
		var pos = $(this).offset();
		var data = $(this).data("info");
		var imageURL = data.target;

		var x = pos.left - (data.vertices.x);
		var y = pos.top - (data.vertices.y);

		var container = $("<div/>")
							.css({
								"z-index": 100000,
								"position": "absolute",
								"top": y + "px",
								"left": x + "px"})
							.attr("class", "draggable full-image")
							.dblclick(function() {$(this).remove();});

		// Add the image
		var fullImage = $("<img/>", {"src": imageURL})
		$(container).append(fullImage);

		// Add the info panel		
		var infoPanel = $("<div/>")
					.attr("class", "info-panel");
		
		$.get("/data/image/" + data.imageid + "/objects", function(data) {
			var description = "It's a " + data[0].worktypes[0].worktype + " titled " + data[0].title + ".<br/>";
			var link = $("<a/>")
							.attr("href", data[0].url)
							.attr("target", "_blank")
							.html("Read more about it.");
			
			$(infoPanel).append(description)
						.append(link);
			
			$(container).append(infoPanel);

			interact('.draggable').draggable({onmove: dragMoveListener});
			
			$("body").append(container);
		});
	}

	$(function() {
		$("#go").click(processPhrase);
		$("#reset").click(clearMessages);

		$("#term").keypress(function(event) {
			if (event.which == 13 || event.which == 32) {
				processPhrase()
		 	} else if (event.which == 48) {
		 		clearMessages();
		 	}
		 });	

		$("#term").keyup(function(event) {
			if ($("#term").val() === "") {
				clearMessages();
			}
		});

		$("#term").focus();
	});	
</script>