<div class="jumbotron-short">
	<h1 class="display-3">{{title}}</h1>
	<p class="lead">Type a message in the box and watch the magic happen. Double click a word to see it in context.</p>
</div>

<div class="container">
	<div class="input-group magic-input-xlg">
		<input type="text" id="term" class="form-control" placeholder="">
		<span class="input-group-btn">
    		<button id="reset" class="btn btn-secondary" type="button">Start Over</button>
      	</span>
	</div>
	<div id="message-panel"></div>

	<div id="sticker-panel">	
		<div id="results"></div>
	</div>
</div>


<script type="text/javascript">
	var messages = [];

	function clearMessages() {
		$(".full-image").remove();

		messages = [];
		$("#message-panel").empty();
		$("#term").val("").focus();
	}

	function processPhrase() {
		var message = $("#term").val();
		var terms = message.split(" ");

		messages.push(message);

		var m = $("<div/>")
					.attr("id", "message")
					.attr("data-message-number", messages.length);
		$("#message-panel").append(m);

		for (var i = 0; i < terms.length; i++) {
			var img = $("<img/>")
						.attr("class", "draggable message-word")
						.attr("alt", terms[i])
						.attr("id", "position-" + i)
						.dblclick(showFullImage);
			$(m).append(img);

			fetchTermImages(terms[i], img);
		}	 			
	}

	function fetchTermImages(term, messageContainer) {
		$.get("/data/terms/" + term, function (data) {
			if (data.length > 0) {
				var container;
				var cleanTerm = term.replace(/[^0-9a-z]/gi, '');

				// Does a container for the term already exist?
				if ($("[data-term='" + cleanTerm + "'").length > 0) {
					container = $("[data-term='" + cleanTerm + "'");
				} else {
					container = $("<div/>").attr("data-term", cleanTerm);
					container.append($("<h1/>").html(term));
				}

				data.forEach(function(d) {
					container.append($("<img/>")
						.attr("src", d.iiifTextImageURL));
				});

				var randomImage =  data[Math.floor(Math.random()*data.length)];
				$(messageContainer)
					.data("info", randomImage)
					.attr("src",randomImage.iiifTextImageURL);

				$("#results").prepend(container);
			}
		});
	}

	function showFullImage() {
		var pos = $(this).offset();
		var data = $(this).data("info");
		var imageURL = data.iiifbaseuri + "/full/full/0/native.jpg";

		var x = pos.left - (data.boundingPoly.vertices[0].x*data.scalefactor);
		var y = pos.top - (data.boundingPoly.vertices[0].y*data.scalefactor);

		var container = $("<div/>")
							.css({
								"z-index": 100000,
								"position": "absolute",
								"top": y + "px",
								"left": x + "px"})
							.attr("class", "draggable full-image")
							.dblclick(function() {$(this).remove();});

		// Add the image
		var fullImage = $("<img/>", {"src": imageURL})
		$(container).append(fullImage);

		// Add the info panel		
		var infoPanel = $("<div/>")
					.attr("class", "info-panel");
		
		$.get("/data/object/" + data.objectid, function(data) {
			var description = "It's a " + data.worktypes[0].worktype + " titled " + data.title + ".<br/>";
			var link = $("<a/>")
							.attr("href", data.url)
							.attr("target", "_blank")
							.html("Read more about it.");
			
			$(infoPanel).append(description)
						.append(link);
			
			$(container).append(infoPanel);

			interact('.draggable').draggable({onmove: dragMoveListener});
			
			$("body").append(container);
		});
	}

	$(function() {
		$("#go").click(processPhrase);
		$("#reset").click(clearMessages);

		$("#term").keypress(function(event) {
			if (event.which == 13 || event.which == 32) {
				processPhrase()
		 	} else if (event.which == 48) {
		 		clearMessages();
		 	}
		 });	

		$("#term").keyup(function(event) {
			if ($("#term").val() === "") {
				clearMessages();
			}
		});

		$("#term").focus();
	});	
</script>