<div class="jumbotron-short">
	<h1 class="display-3">{{title}}</h1>
	<p class="lead">Drag the words to make your own poetry. Double click them to see the word in context. Press "r" to reset the display.</p>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3" id="word-list"></div>
		<div class="col-md-9 magnetic-refrigerator" id="refrigerator"></div>
	</div>
</div>


<script type="text/javascript">
	var wordList = ["orange", "red", "blue", "paradise", "florida", "submarines", "food", "good", 
				"the", "the", "the", "the", "as", "in", "is", "is", "of", "of", "and", "and", "and", 
				"are", "are", "are", "are", "to", "to", "too", "an", "some", "with", "all", "there", 
				"10", "20", "30", "40", "50", "her", "him", "she", "he", "when", "where", "soon", "lead", "now", 
				"girl", "boy", "man", "woman", "girls", "boys", "men", "women", "child", "children", "look", "looked",
				"vote", "run", "drive", "attend", "battle", "do", "does", "make", "makes", "say", "says", "think", "thinks", "love", "loves",
				"election", "norad", "fruit", "studio", "shoulder", "deep", "daisies", "foundation", "home", "home", "house", "bar", "restaurant", 
				"you", "cars", "whiskey", "vodka", "leader", "new", "cats", "see", "south", "cattle", "up", "down", "ok", "okay", 
				"nuptials", "park", "today", "reception", "satan's", "submarines", "florida", "border", "eat", "eats", "drink", "drinks",
				"safety", "protein", "sun", "safety", "strange", "land", "vodka", "orange", "leaves", "breathless", "sweet", "good", 
				"food", "welcome", "composition", "cheese", "live", "cottage", "people", "me", "you", "i"];

	interact("#refrigerator")
		.dropzone({
			accept: ".magnetic-word",
			ondrop: function(event) {
				console.log(event.target.id);
			}
		});

	function buildWordList() {
		var wordContainer = $("#word-list");

		for (var i = wordList.length - 1; i >= 0; i--) {
			$.get("/data/terms/" + wordList[i] + "?size=1", function(data) {
				if (data.length > 0) {
					fragmentCoords = data[0].selectors[0].value.replace("xywh=","");
					iiifImageFragment = data[0].target.replace("full/full", fragmentCoords + "/full");
					vertices = fragmentCoords.split(",");
					data[0].vertices = {};
					data[0].vertices.x = vertices[0];
					data[0].vertices.y = vertices[1];

					imageURL = data[0]
					var word = $("<img/>", {
									src: iiifImageFragment,
									class: "draggable magnetic-word",
									id: data[0].id
									})
								.attr("alt", data[0].body)
								.data("info", data[0])
								.dblclick(showFullImage);

					$(wordContainer).append(word);
				}
			});			
		}

		interact('.draggable').draggable({onmove: dragMoveListener});
	}

	function showFullImage() {
		var pos = $(this).offset();
		var data = $(this).data("info");
		var imageURL = data.target;

		var x = pos.left - (data.vertices.x);
		var y = pos.top - (data.vertices.y);

		var container = $("<div/>")
							.css({
								"z-index": 100000,
								"position": "absolute",
								"top": y + "px",
								"left": x + "px"})
							.attr("class", "draggable full-image")
							.dblclick(function() {$(this).remove();});

		// Add the image
		var fullImage = $("<img/>", {"src": imageURL})
		$(container).append(fullImage);

		// Add the info panel		
		var infoPanel = $("<div/>")
					.attr("class", "info-panel");
		
		$.get("/data/image/" + data.imageid + "/objects", function(data) {
			var description = "It's a " + data[0].worktypes[0].worktype + " titled " + data[0].title + ".<br/>";
			var link = $("<a/>")
							.attr("href", data[0].url)
							.attr("target", "_blank")
							.html("Read more about it.");
			
			$(infoPanel).append(description)
						.append(link);
			
			$(container).append(infoPanel);

			interact('.draggable').draggable({onmove: dragMoveListener});
			
			$("body").append(container);
		});
	}

	function clearTheRefrigerator() {
		var list = $("img").filter(function() {return $(this).attr("data-x") && $(this).attr("data-x") != 0;});
		
		$(list).attr("data-x", 0)
				.attr("data-y", 0)
				.transition({x: 0, y:0});

		$(".full-image").remove();
	}

	$(function() {
		buildWordList()
		
		$(document).keypress(function(event) {
			if (event.which == 114) {
				clearTheRefrigerator();
		 	}
		});		
	});
</script>