<div class="jumbotron-short">
	<h1 class="display-3">{{title}}</h1>
	<p class="lead">Drag the words to make your own poetry. Double click them to see the word in context.</p>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3" id="word-list"></div>
		<div class="col-md-9 magnetic-refrigerator" id="refrigerator"></div>
	</div>
</div>


<script type="text/javascript">
	var wordList = ["orange", "red", "blue", "paradise", "florida", "submarines", "food", "good", 
				"the", "the", "the", "the", "as", "in", "is", "is", "of", "of", "and", "and", "and", 
				"are", "are", "are", "are", "to", "to", "too", "an", "some", "with", "all", "there", 
				"10", "20", "30", "40", "50", "her", "him", "she", "he", "when", "where", "soon", "lead", "now", 
				"girl", "boy", "man", "woman", "girls", "boys", "men", "women", "child", "children", "look", "looked",
				"vote", "run", "drive", "attend", "battle", "do", "does", "make", "makes", "say", "says", "think", "thinks", "love", "loves",
				"election", "norad", "fruit", "studio", "shoulder", "deep", "daisies", "foundation", "home", "home", "house", "bar", "restaurant", 
				"you", "cars", "whiskey", "vodka", "leader", "new", "cats", "see", "south", "cattle", "up", "down", "ok", "okay", 
				"nuptials", "park", "today", "reception", "satan's", "submarines", "florida", "border", "eat", "eats", "drink", "drinks",
				"safety", "protein", "sun", "safety", "strange", "land", "vodka", "orange", "leaves", "breathless", "sweet", "good", 
				"food", "welcome", "composition", "cheese", "live", "cottage", "people", "me", "you", "i"];

	function buildWordList() {
		var wordContainer = $("#word-list");

		for (var i = wordList.length - 1; i >= 0; i--) {
			$.get("/data/terms/" + wordList[i] + "?size=1", function(data) {
				if (data.length > 0) {
					var word = $("<img/>", {
									src: data[0].iiifTextImageURL,
									class: "draggable magnetic-word"
									})
								.attr("alt", data[0].description)
								.data("info", data[0])
								.dblclick(showFullImage);

					$(wordContainer).append(word);
				}
			});			
		}

		interact('.draggable').draggable({onmove: dragMoveListener});
	}

	function showFullImage() {
		var pos = $(this).offset();
		var data = $(this).data("info");
		var imageURL = data.iiifbaseuri + "/full/full/0/native.jpg";

		var x = pos.left - (data.boundingPoly.vertices[0].x*data.scalefactor);
		var y = pos.top - (data.boundingPoly.vertices[0].y*data.scalefactor);

		var fullImage = $("<img/>", {"src": imageURL})
							.css({
								"position": "absolute",
								"top": y + "px",
								"left": x + "px"})
							.dblclick(function() {$(this).remove();});

		$("body").append(fullImage);

	}

	$(function() {
		buildWordList()
	});
</script>