<div class="jumbotron">
	<h1 class="display-3">{{title}}</h1>
	<hr class="my-4">
	<div class="form-group">
		<input type="text" id="term" class="form-control input-lg " placeholder="Enter your message and watch the magic happen">
	</div>
	<button id="go" class="btn btn-primary btn-md">Make It So</button>	
	<button id="reset" class="btn btn-primary btn-md">Clear It</button>	
</div>

<div class="container">
	<div id="message-panel"></div>

	<div id="sticker-panel">	
		<div id="results"></div>
	</div>
</div>


<script type="text/javascript">
	var messages = [];

	$("#go").click(processPhrase);
	$("#reset").click(clearMessages);

	$("#term").keypress(function(event) {
		if (event.which == 13) {
			processPhrase()
	 	}
	 });

	function clearMessages() {
		messages = [];
		$("#message-panel").empty();
	}

	function processPhrase() {
		var message = $("#term").val();
		var terms = message.split(" ");

		messages.push(message);

		var m = $("<div/>")
					.attr("id", "message")
					.attr("data-message-number", messages.length);
		$("#message-panel").append(m);

		for (var i = 0; i < terms.length; i++) {
			var img = $("<img/>")
						.attr("class", "draggable message-word")
						.attr("alt", terms[i])
						.attr("id", "position-" + i)
						.dblclick(showFullImage);
			$(m).append(img);

			fetchTermImages(terms[i], img);
		}	 			
	}

	function fetchTermImages(term, messageContainer) {
		$.get("/data/terms/" + term, function (data) {
			if (data.length > 0) {
				var container;
				var cleanTerm = term.replace(/[^0-9a-z]/gi, '');

				// Does a container for the term already exist?
				if ($("[data-term='" + cleanTerm + "'").length > 0) {
					container = $("[data-term='" + cleanTerm + "'");
				} else {
					container = $("<div/>").attr("data-term", cleanTerm);
					container.append($("<h1/>").html(term));
				}

				data.forEach(function(d) {
					container.append($("<img/>")
						.attr("src", d.iiifTextImageURL)
						.attr("class", "draggable"));
				});

				var randomImage =  data[Math.floor(Math.random()*data.length)];
				$(messageContainer)
					.data("info", randomImage)
					.attr("src",randomImage.iiifTextImageURL);

				$("#results").prepend(container);
			}
			interact('.draggable').draggable({onmove: dragMoveListener});
		});
	}

	function showFullImage() {
		var pos = $(this).offset();
		var data = $(this).data("info");
		var imageURL = data.iiifbaseuri + "/full/full/0/native.jpg";

		var x = pos.left - (data.boundingPoly.vertices[0].x*data.scalefactor);
		var y = pos.top - (data.boundingPoly.vertices[0].y*data.scalefactor);

		var fullImage = $("<img/>", {"src": imageURL})
							.css({
								"position": "absolute",
								"top": y + "px",
								"left": x + "px"})
							.dblclick(function() {$(this).remove();});

		$("body").append(fullImage);

	}

</script>