body {
   font: 14px  "Neutral Regular 3", "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Neutral Regular 3";
}

p, div {
    font-family: "Neutral Regular 3";
}


a {
  color: #00B7FF;
}

.jumbotron-short {
	padding: 1rem 2rem;
    margin-bottom: 2rem;
    background-color: #eceeef;
    border-radius: .3rem;
}

#sticker-panel {
/*	position: relative;
	float: left;
	width: 30%;
	right: 0px;
	top: 0px;*/
	display: none;
}
.message-word {padding: 2px;}

.magnetic-word {padding:2px;}
.magnetic-refrigerator {z-index: -999999;}

.image-container {position: absolute;}
.image-container .regions {display: none;}
.image-container .regions img {position: absolute;z-index: 999999;}
.image-container .regions div.info {position: absolute;display: none;}
.image-container svg.annotations {position: absolute;z-index: 9999999;display: none;}
.image-container .mask {position: absolute;z-index: 99999;display: none;}
.image-container .background {z-index: -10000;display: none;}
.image-container div.blackout {background-color: #FFFFFF;position: absolute;}
