body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#sticker-panel {
	position: relative;
	float: left;
	width: 30%;
	right: 0px;
	top: 0px;
}